<!-- Указываем базовую страницу -->
{% extends 'base.html' %}

{% block title %}
	Dziyana Taylor
{% endblock %}


<!-- home.html (стилизованный контент) -->
{% block content %}
<!--Карусель-->
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <!--Картинки-->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ url_for('static', filename='image/homek.png') }}" height=700px class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='image/fire.png') }}" height=700px class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='image/book3.jpeg') }}" height=700px class="d-block w-100" alt="...">
            </div>
        </div>
        <!--Кнопки перехода на следующий/предыдущий элемент-->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previos</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
{% endblock %}